/*

Base URL: /ssc/main_all.css || stylesheet sequence: [0]

*/

@charset "euc-kr";
/* Page Base */
@import url(../ssc/etalpmet.css);
/* Page Layout */
@import url(../ssc/tuoyal_niam.css);
/* Template Design */
@import url(../ssc/redaeh.css);
@import url(../ssc/retoof.css);


/* ���������Ϳ� */
@media print {
#head, #visual, #sidebar, #body_foot, #foot, #wing, #fontsize { display: none; }
#container { background: #fff; }
#body { margin: 0; padding: 0; background: #fff; }
}


/* break point -1250- */
@media screen and (min-width:1281px) {

	/* common header */
	#header {width:1250px;}
	#main_top {width:1250px;}
	.gnbDiv .gnbWrap .gnb {width:873px;}
	.gnbDiv .gnbWrap {width:1250px;}

	.gnbDiv .gnbWrap .gnb ul li {width: 145px !important;}
	.pushy {display:none;}
	
	/* common footer */
	.footer {width:1250px;position: relative;}
	.banner {width:1250px;}
	.banner_img {width:1060px; margin:16px 0;}
	.banner_img li {margin:0 0 0 10px;}
	.visitor {margin: 0;position: absolute;right: 0px;bottom: 45px;}
	
	/* ////// container ////// */
	/* body */
	#body_outer {}

	/* �������� ��� �̹��� 1250 */
	.mtbg_sunkyung {background:url(/images/cni/mtbg_sunkyung01.jpg) no-repeat center top;}
	.mtbg_jlib {background:url(/images/cni/mtbg_jlib01.jpg) no-repeat center top;}
	.mtbg_cy {background:url(/images/cni/mtbg_cy01.jpg) no-repeat center top;}
	.mtbg_bdn {background:url(/images/cni/mtbg_bdn01.jpg) no-repeat center top;}
	.mtbg_seo {background:url(/images/cni/mtbg_seo01.jpg) no-repeat center top;}
	.mtbg_hms {background:url(/images/cni/mtbg_hms01.jpg) no-repeat center top;}
	.mtbg_hl {background:url(/images/cni/mtbg_hl01.jpg) no-repeat center top;}
	.mtbg_buk {background:url(/images/cni/mtbg_buk01.jpg) no-repeat center top;}
	.mtbg_dcg {background:url(/images/cni/mtbg_dcg01.jpg) no-repeat center top;}
	.mtbg_iw {background:url(/images/cni/mtbg_iw01.jpg) no-repeat center top;}
	.mtbg_gh {background:url(/images/cni/mtbg_gh01.jpg) no-repeat center top;}
	.mtbg_ylib {background:url(/images/cni/mtbg_ylib01.jpg) no-repeat center top;}
	.mtbg_TM {background:url(/images/cni/mtbg_tm01.jpg) no-repeat center top;}
	.mtbg_hd {background:url(/images/cni/mtbg_hd01.jpg) no-repeat center top;}
	.mtbg_gps {background:url(/images/cni/mtbg_gps01.jpg) no-repeat center top;}
	.mtbg_myu {background:url(/images/cni/mtbg_myu01.jpg) no-repeat center top;}
	.mtbg_mpgb {background:url(/images/cni/mtbg_mpgb01.jpg) no-repeat center top;}


	#body_contents {width:1250px;}
	
	/* slide_box */
	#main_top .slide_box {padding: 137px 0px 0px 310px;}
	.bx-wrapper {max-width:770px !important;}
	
	/* notice */
	#tab1 {width:629px;height: 156px;}
	#tab1 .tabmenu ul li {margin:2px 0;}
	#tab1 .tabcontent {width: 610px;}
	
	/* top_search */
	#top_search {width:324px; margin:0; height:46px; padding-top:18px;}
	#top_search .inputText{width:146px; background:url(/images/gmi/niam/1250/search_bg.gif) no-repeat left top; }

	/* popupZone */
	#popupZone {width:326px; background:#908e8e; top:12px; background:url(/images/gmi/niam/1250/popup_bg.gif) no-repeat left top;}
	#przone {left:39px;}
	
	.lib_culture {margin: 10px 0 0 0;width: 480px;}
	
	/* cal_outer_main */
	#cal_outer_main {background:url(/images/gmi/niam/300/calendar_bg_left.gif) no-repeat left top,url(/images/gmi/niam/300/calendar_bg_right.gif) no-repeat right top,url(/images/gmi/niam/300/calendar_bg_center.gif) no-repeat center top,url(/images/gmi/niam/300/calendar_bg_line.gif);width:256px; height:200px;left:0px;text-align: center; top:-15px; margin-right:10px;}
	#cal_outer_main .calendar_top {width:100%;margin-top:6px; margin:0 5px; text-align: center; padding:24px 0px 5px 0;}
	#cal_outer_main .cal_2m {width:96%; margin:0 5px;}
	#cal_outer_main .cal_2m .cal_table_m {width: 100%;}
	#cal_outer_main .calendar_top .calendardate {width:40%;}

	#cal_outer_main.cal_main {background:none !important;}
  

	/* m_bnr */
	.m_bnr {width:207px;margin: 10px 0 0 10px;}
	.m_bnr li.btn01 {background:url(/images/gmi/niam/1250/bnr_bg01.jpg) no-repeat left top;}
	.m_bnr li.btn02 {background:url(/images/gmi/niam/1250/bnr_bg02.jpg) no-repeat left top; margin-top: 8px;}
	.m_bnr li {height:108px;}
	.m_bnr li a {font-size:17px !important; padding:40px 10px 0px 0px !important;}


	
	/* m_btn_new(20180131) */
	ul.m_btn_new {float:left; width: 217px;height: auto;margin-top: 10px;}
	ul.m_btn_new li { float:left; width: 207px; height:108px; line-height:108px; margin-left:10px}
	ul.m_btn_new li a { display:block; font-weight:600; color:#fff; font-size:17px; letter-spacing:-1.5px; padding-left:72px;  }
	ul.m_btn_new li:first-child {background:#fc9284 url(/images/gmi/niam/bnr_icon03.png) no-repeat 18px 50%; margin-bottom:7px; }
	ul.m_btn_new li:nth-child(2) { background:#8790eb url(/images/gmi/niam/bnr_icon04.png) no-repeat 18px 50%; }




	/* lib_sns */
	.lib_sns {width:326px; background:url(/images/gmi/niam/1250/lib_sns_bg.gif) no-repeat left top; margin-top:10px; height:225px;}
	.lib_sns ul li {width:205px; margin-bottom:10px;}
	.lib_sns ul li a {height:81px;}
	.lib_sns ul li a img {float:left;}
	.lib_sns ul li a span {display:block; font-size:22px; width:auto; padding:16px 0 0 12px;}
	.lib_sns ul li a span u {display:block; font-size:13px; text-decoration:none; text-align:left;}
	

	/* fbPlusRe */
	.fbPlusRe {right:0px; left:78px; bottom:0px; }
	.fbPlusRe .fbList_frm {height:225px; background:#4593d8; border:3px solid #85bdef; box-sizing: border-box;}
	.fbPlusRe .fbList_frm ul {padding:36px 0px 0px 10px;}
	.fbPlusRe .fbList_frm ul li a {height:30px;}		
	
	/* twPlusRe */
	.twPlusRe {right:0px; left:78px; bottom:0px;}
	.twPlusRe .twList_frm {height:225px; overflow:hidden; background:#4593d8; border:3px solid #85bdef; box-sizing: border-box;}
	.twPlusRe .twList_frm ul { padding:26px 0px 0px 0px;}
	.twPlusRe .twList_frm ul li a { /*height:30px;*/}	
	
	/* link_btn02 */
	.link_btn02 {width: 912px;margin-top:-15px; text-align:center;}
	.link_btn02 ul {width:890px !important;}
	.link_btn02 li a {width:126px;padding: 0px;display: inline-block;}
	.link_btn02 li a br {display:none;}
	.link_btn02 li a span {margin-top:6px;}

}

 /* �ٷΰ��� ����(shortcut_list : ����, �߾�, â��, ȭ���ٻ�, ȣ�Ž�, �Ѹ�, ���峻, ���߰�, �Ͽ�, shortcut_list2 : ������, �ϼ���, ����ȫ��, ����, ���帶��) */
.shortcut_link_w {float:left; position:relative; width:912px; height:133px;  margin-top:-14px; overflow:hidden;  background:#f2f2f2; border:1px #ddd solid; }
.shortcut_link {padding:0; height:119px; }
.shortcut_link .short_tt {display:none;  }
.shortcut_link .short_tt a {position:absolute; top:32px; display:inline-block; width:20px; height:29px; }
.shortcut_link .short_tt .prev_ar {left:0px; background:url("/images/gmi/niam/300/btn_side.gif") left center; }
.shortcut_link .short_tt .next_ar {right:0px; background:url("/images/gmi/niam/300/btn_side.gif") right center; }

.shortcut_list,
.shortcut_list02 {position:relative; margin-top:18px; height:115px; overflow:hidden; }
.shortcut_list ul,
.shortcut_list02 ul {position:relative; float:left; padding:0%; width:100%; height:115px; }

.shortcut_list ul li {float:left;  width:14.2%; /*width:12.28%;*/  margin:0 1% 20px 1%; text-align:center;  }
.shortcut_list02 ul li {float:left; width:12.28%; /*width:10.50%;*/ margin:0 1% 20px 1%; text-align:center;  } /*(������, �ϼ���, ����ȫ��, ����, ���帶��)*/

.shortcut_list ul li a,
.shortcut_list02 ul li a {display:inline-block; padding-top:66px; font-size:12px; letter-spacing:-0.1em; font-weight:bold;  color:#414142; line-height:14px;}

.shortcut_list ul li.link1 a, 
.shortcut_list02 ul li.link1 a { width:70px; background:url("/images/gmi/niam/icon_btn01.png") no-repeat center top;} /*å����(����)������*/
.shortcut_list ul li.link2 a,
.shortcut_list02 ul li.link2 a { width:70px; background:url("/images/gmi/niam/icon_btn08.png") no-repeat center top;} /*��Ʈ�ζ��ᵵ����*/
.shortcut_list ul li.link3 a, 
.shortcut_list02 ul li.link3 a { width:70px; background:url("/images/gmi/niam/icon_btn02.png") no-repeat center top;} /*���ڵ�����*/
.shortcut_list ul li.link4 a, 
.shortcut_list02 ul li.link4 a { width:70px; background:url("/images/gmi/niam/icon_btn03.png") no-repeat center top;} /*�Ͻ�ŸƮ*/
.shortcut_list ul li.link5 a, 
.shortcut_list02 ul li.link5 a { width:70px; background:url("/images/gmi/niam/icon_btn04.png") no-repeat center top;} /*û�ҳ��ڿ�����*/
.shortcut_list ul li.link6 a, 
.shortcut_list02 ul li.link6 a { width:70px; background:url("/images/gmi/niam/icon_btn05.png") no-repeat center top;} /*�������ڷ�ǿ���*/
.shortcut_list ul li.link7 a,
.shortcut_list02 ul li.link7 a { width:70px; background:url("/images/gmi/niam/icon_btn07.png") no-repeat center top;} /*�̵���*/
.shortcut_list ul li.link8 a, 
.shortcut_list02 ul li.link8 a { width:70px; background:url("/images/gmi/niam/icon_btn06.png") no-repeat center top;} /*������ �¼���ȸ*/
.shortcut_list ul li.link9 a, 
.shortcut_list02 ul li.link9 a { width:70px; background:url("/images/gmi/niam/icon_btn09.png") no-repeat center top;} /*������� ��������*/
.shortcut_list ul li.link10 a, 
.shortcut_list02 ul li.link10 a { width:70px; background:url("/images/gmi/niam/icon_btn10.png") no-repeat center top;} /*Ǫ����å��*/









/* break point default - 1000px - */

@media screen and (max-width:1280px) {
	
	#header {width:1000px;}
	.pushy {display:none;}
	#body_contents {width:1000px; position:relative;}

.gnbDiv .gnbWrap li .twoDep a { font-size:95%;}


	/* �������� ��� �̹��� 1000 */
	.mtbg_sunkyung {background:url(/images/cni/mtbg_sunkyung01.jpg) no-repeat center top;}
	.mtbg_jlib {background:url(/images/cni/mtbg_jlib01.jpg) no-repeat center top;}
	.mtbg_cy {background:url(/images/cni/mtbg_cy01.jpg) no-repeat center top;}
	.mtbg_bdn {background:url(/images/cni/mtbg_bdn01.jpg) no-repeat center top;}
	.mtbg_seo {background:url(/images/cni/mtbg_seo01.jpg) no-repeat center top;}
	.mtbg_hms {background:url(/images/cni/mtbg_hms01.jpg) no-repeat center top;}
	.mtbg_hl {background:url(/images/cni/mtbg_hl01.jpg) no-repeat center top;}
	.mtbg_buk {background:url(/images/cni/mtbg_buk01.jpg) no-repeat center top;}
	.mtbg_dcg {background:url(/images/cni/mtbg_dcg01.jpg) no-repeat center top;}
	.mtbg_iw {background:url(/images/cni/mtbg_iw01.jpg) no-repeat center top;}
	.mtbg_gh {background:url(/images/cni/mtbg_gh01.jpg) no-repeat center top;}
	.mtbg_ylib {background:url(/images/cni/mtbg_ylib01.jpg) no-repeat center top;}
	.mtbg_TM {background:url(/images/cni/mtbg_tm01.jpg) no-repeat center top;}
	.mtbg_hd {background:url(/images/cni/mtbg_hd01.jpg) no-repeat center top;}
	.mtbg_gps {background:url(/images/cni/mtbg_gps01.jpg) no-repeat center top;}
	.mtbg_myu {background:url(/images/cni/mtbg_myu01.jpg) no-repeat center top;}
	.mtbg_mpgb {background:url(/images/cni/mtbg_mpgb01.jpg) no-repeat center top;}

#main_top .hue_btn  {   left:185px;}
.bx-wrapper .bx-prev { left:-72px !important;}	

	/* cal_outer_main */
	#cal_outer_main {width:25%; height:197px; left:0px; text-align:center; top:-17px; margin-right:10px; background:url(/images/gmi/niam/300/calendar_bg_left.gif) no-repeat left top,url(/images/gmi/niam/300/calendar_bg_right.gif) no-repeat right top,url(/images/gmi/niam/300/calendar_bg_center.gif) no-repeat center top,url(/images/gmi/niam/300/calendar_bg_line.gif); }
	#cal_outer_main .calendar_top {width:100%; margin-top:6px; margin:0 5px; text-align: center; padding:24px 0px 5px 0;}
	#cal_outer_main .cal_2m {width:98%; margin:0px 1%;}
	#cal_outer_main .cal_2m .cal_table_m {width:100%;}
	#cal_outer_main .calendar_top .calendardate {width:40%;}
 
	#cal_outer_main.cal_main {background:none !important;}

	/* notice */
	#tab1 {width:40.6%; height:154px;}
	#tab1 .tabcontent {width:90%;}
	.list ul li .tabcontent ul li a { width:70%}

	
	/* �����˻� (20170515)  */
	#top_search_new { float: right; width:30.5%; height:48px;  }
	#top_search_new .inputText {width:75%; }

	/* link_btn02 */
	.link_btn02 ul {text-align:left;}
	.link_btn02 {width:100%; text-align:center;}
	.link_btn02 li a {width:91px;padding: 0px;display: inline-block;}
	.link_btn02 li a span {margin-top:2px;}
	

	
	/* popupZone */
	#popupZone { width:30.5%;  background-size:cover; text-align: center; border-right:5px solid #6c6e71; margin-top:15px; height:242px; box-sizing:border-box;}
	#przone h2 {float:left;}
	
	/* lib_culture */
	.lib_culture {width:48.9%; }

	/* ����ã�� ���� */
	.link_btn02 .in08 li a {  float:left; display:inline; width:85px; padding:0px 0px; height:90px; text-align:center; vertical-align:bottom;}
	.link_btn02 .in08 li a span {width:85px !important; }


     /* Ʈ���� �� �κ� **********/

	/* fbPlusRe */
.fbPlusRe .fbList_frm {  background:url(/images/gmi/niam/twList_frm_bg.gif)#4593d8 no-repeat 16px 0px;}
.fbPlusRe .fbList_frm ul { font-size:90%;}
.fbPlusRe .fbList_frm ul li {padding:5px 0px 0px 0px; width:100%; background:none; } 
	


	/* twPlusRe */
.twPlusRe .twList_frm {  background:url(/images/gmi/niam/twList_frm_bg.gif)#4593d8 no-repeat 16px 0px; }
.twPlusRe .twList_frm ul { font-size:90%; padding-top:6px;}
.twPlusRe .twList_frm ul li {padding:3px 0px 0px 0px; width:100%; background:none;  height:20px;} 
	

/* ��ġ���������û ��ȣ���� **********/

ul.m_btn li.btn01 a { width:90px; height:47px; padding:14px 0px 0px 61px; }
ul.m_btn li.btn02 a { width:80px; height:47px; padding:14px 0px 0px 71px;}



.m_bnr {  width:18.6%;}
.lib_sns {  width:30.5%}

	/* m_btn_new(20180131) */
	ul.m_btn_new { float:left; width:30.5%;  margin-top:10px; margin-left:10px;}
	ul.m_btn_new li { width:147px; height:56px; float:left;}
	ul.m_btn_new li a { display:block; line-height:56px; font-weight:600; color:#fff; font-size:13px; letter-spacing:-1.5px; padding-left:50px;  }
	ul.m_btn_new li:first-child { background-size:auto 50% !important; background:#fc9284 url(/images/gmi/niam/bnr_icon03.png) no-repeat 18px 50%; margin-right:10px; margin-bottom:0px; }
	ul.m_btn_new li:nth-child(2) { background-size:auto 50% !important; background:#8790eb url(/images/gmi/niam/bnr_icon04.png) no-repeat 18px 50%; }



	/* �ٷΰ��� ����(shortcut_list : ����, �߾�, â��, ȭ���ٻ�, ȣ�Ž�, �Ѹ�, ���峻, ���߰�, �Ͽ�, shortcut_list2 : ������, �ϼ���, ����ȫ��, ����, ���帶��) */
	.shortcut_link_w {float:left; position:relative; margin-top:-15px; width:68.2%; height:133px; overflow:hidden;}
	
	.shortcut_link .short_tt {position:relative; z-index:100; padding:0px 8px; font-size:22px; color:#303031; display:block; }

	.shortcut_list,
	.shortcut_list02 {position:relative; height:100px; overflow:hidden;}
	.shortcut_list ul, 
	.shortcut_list02 ul {position:relative; float:left; padding:0; width:100%;}
	.shortcut_list ul li,
	.shortcut_list02 ul li {float:left; width:20%; margin:0 2.5% 20px 2.5%; text-align:center;}



}


/* break point -768- */
@media all and (min-width:768px) and (max-width:1040px) {

	/* common header */
	#header {width:768px;}
	.gnbDiv {min-width:768px;}
	.gnbDiv .gnbWrap .gnb {display:none;}
	.gnbDiv .gnbWrap {width:768px; text-align:center;}
	#gnbDiv h1 {display:inline-block; position:static;}
	#main_top {width: 768px;}
	#main_top .hue_btn {left:14px;}
	.pushy {display:block;}

	
	/* common footer */
	.footer {width:768px; position:relative;}
	.banner {width:768px;}
	.banner_img {width: 530px;margin:16px 0;}
	.banner_img li {margin:0 0 0 10px;}
	.visitor {margin: 0;position: absolute;right: 0px; bottom: 90px; }
	#selectbox {position: absolute;}
	.foot_logo {margin: 60px 26px 40px 12px;}
	.foot_add {margin: 60px 0 40px 0;}
	
	/* ////// container ////// */
	/* body */
#main_top .hue_btn  {  left:80px;}
#main_top .visual_txt {left:0px;}
#main_top .visual_txt img { max-width:85%; }

	/* �������� ��� �̹���768 */
	.mtbg_sunkyung {background:url(/images/cni/mtbg_sunkyung01.jpg) no-repeat center top;}
	.mtbg_jlib {background:url(/images/cni/mtbg_jlib01.jpg) no-repeat center top;}
	.mtbg_cy {background:url(/images/cni/mtbg_cy01.jpg) no-repeat center top;}
	.mtbg_bdn {background:url(/images/cni/mtbg_bdn01.jpg) no-repeat center top;}
	.mtbg_seo {background:url(/images/cni/mtbg_seo01.jpg) no-repeat center top;}
	.mtbg_hms {background:url(/images/cni/mtbg_hms01.jpg) no-repeat center top;}
	.mtbg_hl {background:url(/images/cni/mtbg_hl01.jpg) no-repeat center top;}
	.mtbg_buk {background:url(/images/cni/mtbg_buk01.jpg) no-repeat center top;}
	.mtbg_dcg {background:url(/images/cni/mtbg_dcg01.jpg) no-repeat center top;}
	.mtbg_iw {background:url(/images/cni/mtbg_iw01.jpg) no-repeat center top;}
	.mtbg_gh {background:url(/images/cni/mtbg_gh01.jpg) no-repeat center top;}
	.mtbg_ylib {background:url(/images/cni/mtbg_ylib01.jpg) no-repeat center top;}
	.mtbg_TM {background:url(/images/cni/mtbg_tm01.jpg) no-repeat center top;}
	.mtbg_hd {background:url(/images/cni/mtbg_hd01.jpg) no-repeat center top;}
	.mtbg_gps {background:url(/images/cni/mtbg_gps01.jpg) no-repeat center top;}
	.mtbg_myu {background:url(/images/cni/mtbg_myu01.jpg) no-repeat center top;}
	.mtbg_mpgb {background:url(/images/cni/mtbg_mpgb01.jpg) no-repeat center top;}

	#body_contents {width:768px; height:1120px;position:relative;}
	
	/* cal_outer_main */
	#cal_outer_main {  width:31.3%; background:url(/images/gmi/niam/300/calendar_bg_left.gif) no-repeat left top,url(/images/gmi/niam/300/calendar_bg_right.gif) no-repeat right top,url(/images/gmi/niam/300/calendar_bg_center.gif) no-repeat center top,url(/images/gmi/niam/300/calendar_bg_line.gif); height:200px;left:0px;text-align: center; top:-18px; margin-right:10px;}
	#cal_outer_main.cal_main {background:none !important;}

	/* slide_box */
	#main_top .slide_box {padding: 137px 0px 0px 250px;}
	.bx-wrapper {max-width:340px !important;}
	.bx-wrapper .bx-prev {left: -79px !important;}
	.bx-wrapper .bx-next{right: -28px !important;}
	#gnbDiv button.SideBtn, #gnbDiv button.homeBtn {display:block;}
	
	/* notice */
	#tab1 {width:65%; height:153px;}
	#tab1 .tabmenu ul li {margin:2px 0;}
	#tab1 .tabcontent {width:92%;}
	

	/* �����˻� (20170515)  */
	#top_search_new {  margin:0; width:59%; height:48px; position:absolute; top:688px; left:0px;} 
	#top_search_new .inputText{  width:92%; box-sizing:border-box; height:28px; }
	#tab2 .tabcontent02 { width:99.8%;}

	
	/* popupZone */
	#popupZone { width:40%; position:absolute; top:688px; right:0px; margin-top:0px; border-right:0px; border-bottom:5px solid #6c6e71;}
	#przone {left:30px;}
.PZPlusRe {  width:100%;}
.PZPlusRe .PZList_frm {/* width:100%;*/}
	

	/* lib_culture */
	.lib_culture {margin:0; width:59%; height:170px; position:absolute; top:758px; left:0px; background-size:cover;}
	.lib_culture .tabmore {}
	.lib_culture ul {overflow:hidden; width:90%; height:106px;}
	#selectbox_town ul li {line-height:22px; font-size:90%; width:25%;}
	
	/* selectbox02 */
	#selectbox02 .sbx02 .wrap {width:453px; height:113px; overflow-y:scroll;}
	#selectbox02 .sbx02 ul { font-size:12px; width:453px; height:120px;}
	#selectbox02 .sbx02 ul li a {padding:0px 10px 0px 18px; }

	
	/* m_bnr */
	.m_bnr {width:59%; margin:0px; position:absolute; top:938px; left:0px; font-size:0px;}
	.m_bnr li.btn01 {background:url(/images/gmi/niam/768/bnr_bg01.jpg) no-repeat left top;}
	.m_bnr li.btn02 {background:url(/images/gmi/niam/768/bnr_bg02.jpg) no-repeat left top; margin-left:10px; }
	.m_bnr li {width:48.8%; height:90px; display:inline-block; vertical-align:top; }
	.m_bnr li a {font-size:17px !important; line-height:20px;}
	.m_bnr li.btn01 a {text-align:left; padding:39px 10px 0px 70px !important;}
	.m_bnr li.btn02 a {text-align:left; padding:39px 10px 0px 110px !important;}


	/* m_btn_new(20180131) */
	ul.m_btn_new {  position:absolute; top:1038px; left:0; float:left; width:59%;  margin-top:0px; margin-left:0px;}
	ul.m_btn_new li {  width:48.8%; height:60px; float:left; }
	ul.m_btn_new li a { display:block; line-height:60px; font-weight:600; color:#fff; font-size:17px; letter-spacing:-1.5px; padding-left:70px;  }
	ul.m_btn_new li:first-child { background-size:auto 50% !important; background:#fc9284 url(/images/gmi/niam/bnr_icon03.png) no-repeat 18px 50%; margin-right:10px; margin-bottom:0px; }
	ul.m_btn_new li:nth-child(2) { background-size:auto 50% !important; background:#8790eb url(/images/gmi/niam/bnr_icon04.png) no-repeat 18px 50%; }


	/* lib_sns */
	.lib_sns {width:40%; height:160px; background-size:cover; margin-top:0px; position:absolute; top:938px; right:0;}



	/* book */
	#main_top .slide_box .slider .slide {margin-right:30px !important; }
	#main_top .slide_box .bx-wrapper .bx-viewport {width:90% !important;}

/* �ٷΰ��� ����(shortcut_list : ����, �߾�, â��, ȭ���ٻ�, ȣ�Ž�, �Ѹ�, ���峻, ���߰�, �Ͽ�, shortcut_list2 : ������, �ϼ���, ����ȫ��, ����, ���帶��) */
	.shortcut_link_w {float:left; position:relative; margin-top:-18px; width:99.8%; height:133px; overflow:hidden;}
	.shortcut_list ul,
	.shortcut_list02 ul {position:relative; float:left; padding:0; width:100%;}
	.shortcut_list ul li,
	.shortcut_list02 ul li {float:left; width:14%; margin:0 3% 20px 3%; text-align:center;}

}






/*****************800px******************************************/
@media all and (max-width:767px){
	
	/* common header */
	#header {width:300px;}
	.pushy {display:block;}
	.global a {display:none;}
	.gnbDiv {min-width:300px;}
	#gnbDiv h1 {display:inline-block; position:static; margin-top:4px;}
	#gnbDiv button.SideBtn, #gnbDiv button.homeBtn {display:block;}
	.gnbDiv .gnbWrap {width:96%; min-width: 300px; text-align:center;}
	.gnbDiv .gnbWrap h1 img {width:168px;}
	.gnbDiv .gnbWrap .gnb {display:none;}
	.twoDbg {display:none;}
	#main_top {width:100%;height:310px;}
	#main_top .visual_txt {display:none;}
	#main_top .hue_btn {top:230px;left:0px;width:100%; text-align: center; background:#d7cebc url(/images/gmi/niam/300/hue_img.gif) no-repeat right top;}
	#main_top .hue_btn a img {display:none;}
	#main_top .hue_btn a img.mobile {display: inline-block;}
	

	
	/* common footer */
	.footer {width:300px; position:relative;}
	.banner {width:300px;}
	.banner_img {width:134px;margin:16px 0;}
	
	.banner_img li {margin:0 0 0 10px;}
	.visitor {display:none;}
	#selectbox {position: absolute; display:block; width:300px;}
	#selectbox #select_depart004 {display:block;}
	.foot_logo {display:none;}
	.foot_link {width:300px; letter-spacing:-0.8px;}
	.foot_link li a {padding:0 8px;}
	.foot_add {margin: 60px 0 40px 0; text-align:center; width:300px; letter-spacing:-0.8px;}
	
	
	/* ////// container ////// */
	/* body */
	

	/* �������� ��� �̹���300 */
	.mtbg_sunkyung {background:url(/images/cni/mtbg_sunkyung04.jpg) no-repeat center top;}
	.mtbg_jlib {background:url(/images/cni/mtbg_jlib04.jpg) no-repeat center top;}
	.mtbg_cy {background:url(/images/cni/mtbg_cy04.jpg) no-repeat center top;}
	.mtbg_bdn {background:url(/images/cni/mtbg_bdn04.jpg) no-repeat center top;}
	.mtbg_seo {background:url(/images/cni/mtbg_seo04.jpg) no-repeat center top;}
	.mtbg_hms {background:url(/images/cni/mtbg_hms04.jpg) no-repeat center top;}
	.mtbg_hl {background:url(/images/cni/mtbg_hl04.jpg) no-repeat center top;}
	.mtbg_buk {background:url(/images/cni/mtbg_buk04.jpg) no-repeat center top;}
	.mtbg_dcg {background:url(/images/cni/mtbg_dcg04.jpg) no-repeat center top;}
	.mtbg_iw {background:url(/images/cni/mtbg_iw04.jpg) no-repeat center top;}
	.mtbg_gh {background:url(/images/cni/mtbg_gh04.jpg) no-repeat center top;}
	.mtbg_ylib {background:url(/images/cni/mtbg_ylib04.jpg) no-repeat center top;}
	.mtbg_TM {background:url(/images/cni/mtbg_tm04.jpg) no-repeat center top;}
	.mtbg_hd {background:url(/images/cni/mtbg_hd04.jpg) no-repeat center top;}
	.mtbg_gps {background:url(/images/cni/mtbg_gps04.jpg) no-repeat center top;}
	.mtbg_myu {background:url(/images/cni/mtbg_myu04.jpg) no-repeat center top;}
	.mtbg_mpgb {background:url(/images/cni/mtbg_mpgb04.jpg) no-repeat center top;}	



	#body_contents {width:96%; height:1600px;position:relative; min-width: 300px;}
	
	/* cal_outer_main */
	#cal_outer_main {width:100%; height:200px;left:0px;text-align: center; background:url(/images/gmi/niam/300/calendar_bg_left.gif) no-repeat left top,url(/images/gmi/niam/300/calendar_bg_right.gif) no-repeat right top,url(/images/gmi/niam/300/calendar_bg_center.gif) no-repeat center top,url(/images/gmi/niam/300/calendar_bg_line.gif);}
	#cal_outer_main .calendar_top {width:100%; }
	#cal_outer_main .calendar_top .calendardate { width:78%; margin:0px;}
	#cal_outer_main.cal_main {background:none !important;}
 
	
	/* slide_box */
	#main_top .slide_box {padding:28px 0px 0px 0px;}
	#main_top .slide_box .slide { width:130px !important;}
	.bx-wrapper {width: 160px;max-width: 340px !important;}
	.bx-wrapper .bx-prev {left: -69px !important;}
	.bx-wrapper .bx-next{right: -68px !important;}
	.bx-wrapper .bx-viewport {left:16px !important;}
	
	/* notice */
	#tab1 {width:100%;height:173px;position:absolute;top:520px; box-sizing:border-box;}
	#tab1 .tabmenu ul li {margin:2px 0; padding:0px;}
	#tab1 .tabcontent {width:94%; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}
	
	/* top_search */
	#top_search {width: 100%;margin:0;height:50px;padding-top:11px;position:absolute;top:846px;left:0px; box-sizing:border-box;}
	#top_search .inputText{width:88%; background:url(/images/gmi/niam/768/search_bg.gif)#fff no-repeat -1px -1px; border:1px solid #cacaca; box-sizing:border-box; height:28px; }

	
	/* �����˻� (20170515)  */
	#top_search_new { width:100%; margin-bottom:10px; position:absolute; top:850px; left:0px; box-sizing:border-box;} 



	/* popupZone */
	
	#popupZone {width:100%; border-right:0px; border-bottom:6px solid #6c6e71; height: 225px; background-size:cover; position:absolute; top: 912px; right:0px; text-align: center; box-sizing:border-box;}
	#przone {width:100%; top:20px; left:0;}
	
	#przone h2 {float:left; margin: 0 0 0 20px;}
	#przone #control {right:20px;}

	#przone #prcon  {width:100%; margin:0px;margin:0px auto; text-align:center; }

	#przone #prcon ul {width:100% !important;}
	#przone #prcon ul li { width:100%; }
	#przone #prcon ul li img { width:248px; margin:0px auto; text-align:center; }

.PZPlusRe { position:absolute; left:20px; width:92%;}
.PZPlusRe .PZList_frm {  width:96%;}
.PZPlusRe .btn { position:absolute;  right:-20px;}


	/* lib_culture */
	.lib_culture {margin:0; width:100%; height:180px;position:absolute; top:1164px; left:0px; background-size:cover;}
	.lib_culture .tabmore { display:none;}
	.lib_culture ul { overflow:hidden; height:106px;}
	.lib_culture ul li {  }
	.lib_culture ul li a { font-size:90%;}
	#selectbox_town ul li {line-height:22px; font-size:90%; width:25%;}
	
	/* selectbox02 */
	#selectbox02 .sbx02 { position:absolute; top:0px; left:0px; right:0px;}
	#selectbox02 .sbx02 .wrap {width:100%; height:113px; overflow-y:scroll;}
	#selectbox02 .sbx02 ul { font-size:12px; width:100%; height:210px;}
	#selectbox02 .sbx02 ul li { float:none; }
	#selectbox02 .sbx02 ul li a {padding:0px 10px 0px 18px;}
	

	/* m_bnr */
	.m_bnr {width: 50%;height:90px;margin:0px;position:absolute;top:1356px;left:0px;font-size:0px;}
	.m_bnr li.btn01 {background: url(/images/gmi/niam/300/bnr_bg01.jpg) left top;}
	.m_bnr li.btn02 {background: url(/images/gmi/niam/300/bnr_bg02.jpg) left top; margin-left:0;}
	.m_bnr li {width: 50% !important;height:90px;display:inline-block;vertical-align:top;}
	.m_bnr li a {font-size:14px !important; padding:0px !important; text-align:center; line-height:20px; margin-top:24px;}
	.m_bnr li.btn01 a {text-align:center; padding:0 0 0 0 !important;}
	.m_bnr li.btn02 a {text-align:center; padding:0 0 0 0 !important;}
	
	br.mobile {display: block !important;}


	/* m_btn_new(20180131) */
	ul.m_btn_new {  position:absolute; top:1356px; left: 50%; width:50%;  float:left; margin-top:0px; margin-left:0px;}
	ul.m_btn_new li {  width:50% !important; height:90px; float:left;  margin-right:0px;}
	ul.m_btn_new li a {text-align:center; display:block; line-height:20px; margin-top:24px; font-weight:600;color:#fff; font-size:14px;letter-spacing:-1.5px;padding-left:0px;}
	ul.m_btn_new li:first-child { background-image:none; margin-right:0px; margin-bottom:0px; }
	ul.m_btn_new li:nth-child(2) {  background-image:none; }



	/* lib_sns */
	.lib_sns {width:100%; height:auto; background: url(/images/gmi/niam/300/lib_sns_bg.gif) left top;margin-top:0px;position:absolute;top:1458px;right:0;text-align: center; border:1px solid #4f96d5; box-sizing:border-box;}
	.lib_sns h2 {display:none;}
	.lib_sns ul {width:100%;margin:10px 10% 0 10%;display: inline-block;}
	.lib_sns ul li {width:40%; margin-bottom:10px; padding:0px;}
	.lib_sns ul li a { }
	.lib_sns ul li a img {}
	.lib_sns ul li a span {display:block; font-size:16px; width:auto; padding:0; float:none;}
	.lib_sns ul li a span u {font-size:13px; text-decoration:none; text-align:left;}
	.lib_sns ul li.facebook a:hover {background:url(/images/gmi/niam/fb_icon_on.png) no-repeat center top;}
	.lib_sns ul li.tw a:hover {background:url(/images/gmi/niam/tw_icon_on.png) no-repeat center top;}
	

	/* fbPlusRe */
	.fbPlusRe {right:0px; left:0px; bottom:0px;}
	.fbPlusRe .fbList_frm {background:#4593d8; padding:4px 20px;}
	.fbPlusRe .fbList_frm ul {padding:0px;}
	.fbPlusRe .fbList_frm ul li {padding:0px 0px 0px 0px;}
	.fbPlusRe .fbList_frm ul li a {height:24px;}	


	/* twPlusRe */
	.twPlusRe {right:0px; left:0px; bottom:0px; }
	.twPlusRe .twList_frm {background:#4593d8; padding:5px 20px; }
	.twPlusRe .twList_frm ul {padding:10px 5px;}
	.twPlusRe .twList_frm ul li {padding:0px;}
	.twPlusRe .twList_frm ul li a { }	

	/* link_btn02 */
	.link_btn02 ul {text-align:left;}
	.link_btn02 {width:100%; position:absolute; top:716px; left:0px; box-sizing:border-box; height:134px;}
	.link_btn02 button {display:block;}
	.link_btn02 li a {width:96px;padding: 0px;display: inline-block;}
	.link_btn02 li a br {display:block;}
	.link_btn02 li a span {margin-top:0px;}

	/* ����ã�� ���� */
	.link_btn02 .in08 li a {  float:left; display:inline; width:87px; padding:0px 0px; height:90px; text-align:center; vertical-align:bottom;}
	.link_btn02 .in08 li a span {width:87px !important; }
	
	
/* �ٷΰ��� ����(shortcut_list : ����, �߾�, â��, ȭ���ٻ�, ȣ�Ž�, �Ѹ�, ���峻, ���߰�, �Ͽ�, shortcut_list2 : ������, �ϼ���, ����ȫ��, ����, ���帶��) */
	.shortcut_link_w {float:left; position:relative;  width:99.7%; height:133px; overflow:hidden; top:186px;}
	.shortcut_list ul,
	.shortcut_list02 ul {position:relative; float:left; padding:0; width:100%;}
	.shortcut_list ul li,
	.shortcut_list02 ul li {float:left; width:29.3%; margin:0 2% 20px 2%;  text-align:center;}

}

/* break point -300- */
@media screen and (max-width:500px) {
	.list ul li .tabcontent ul li span { display:none;}

#cal_outer_main .calendar_top .calendardate { width:55%;}
#cal_outer_main .calendar_top img.hue {padding-right:10px;}


.PZPlusRe{ width:82%;}
.PZPlusRe .PZList_frm { width:99%;}


}
 