/*

Base URL: css/common.css?20190620 || stylesheet sequence: [3]

*/

@charset "utf-8";
@import url(util.css);



/* reset with normalize */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
a{text-decoration:none}
img{max-width:100%}
li{list-style:none}
em,address{font-style:normal}
label{cursor:pointer}

div[tabindex]{outline:0 !important}

/* reset filedset */
legend { display: table;float: left;margin: 0;padding: 0;width: 100%;
  + * { clear: both;}}
fieldset {border: 0;padding: 0.01em 0 0 0; margin: 0; min-width: 0;}
body:not(:-moz-handler-blocked) fieldset { display: table-cell;}

/* Font */
@font-face{font-family:ng;font-style:normal;font-weight:400;src:url(https://themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.eot)\9;src:local('NanumGothic'),local('나눔고딕'),url('https://themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.woff') format('woff')}
@font-face{font-family:ng;font-style:normal;font-weight:700;src:url(https://themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.eot)\9;src:local('NanumGothic'),local('나눔고딕'),url('https://themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.woff') format('woff')}

/* Common */
a.skip{display:block;position:absolute;top:-1px;width:0;height:0;overflow:hidden;text-align:center}
a.skip:active,a.skip:focus{z-index:999;width:100%;height:auto;padding:5px;background:#FFF}
.clear{display:block;position:relative;clear:both}
.clear:after{content:"";display:block;clear:both}
.fl{float:left}
.fr{float:right}
.show{display:block}
.hide{display:none}
.blind{display:block;overflow:hidden;position:absolute;top:-1000em;left:0;width:1px;height:1px}
.blank{background:url(/images/blank.png)}
.overflow{overflow:hidden}
.joinEm{font-size:1.2em;color:#000}

/* 20150324 */
.ellipsis{display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis}
.t_left{text-align:left}
.t_right{text-align:right}
.t_center{text-align:center}
.t_justify{text-align:justify}
.nowrap{white-space:nowrap}
.box_sizing{-webkit-box-sizing:border-box;box-sizing:border-box}

/* Form */
input,textarea,button,select,.btn{display:inline-block;height:24px;margin:2px;font-size:14px;vertical-align:middle;text-decoration:none;-webkit-box-sizing:border-box;box-sizing:border-box}
button{text-align:center}
input[type=text],input[type=password],textarea{max-width:100%;padding:2px 4px;border:1px solid #c4c4c4}
textarea{display:block;width:100%;height:auto}
select{min-width:120px;padding:2px 4px;border:1px solid #c4c4c4}
.btn{height:auto;padding:4px 8px;font-size:14px;text-align:center}
.btn.blue,.btn.grey{border:0;background:#447ba8;color:#FFF}
.btn.grey{background:#929292}
.btn.sm{height:24px;padding:0 12px;line-height:24px}
.btn.md{padding:4px 25px;font-size:18px}
.btn.lg{padding:4px 25px;font-size:24px}
.no_style{margin:0;padding:0;border:0;background:none}
[class^=btn_]{}
.btn_lg{display:inline-block;position:relative;height:auto;margin:0;padding:0;padding:2px 50px 2px 2px;border:0;background:#447ba8}
.btn_lg span{display:block;height:44px;padding:0 20px;font-size:24px;line-height:44px;color:#FFF}
.btn_lg i{display:block;position:absolute;top:2px;right:2px;width:44px;height:44px;background:#FFF url(/images/srch_frm2.png) 50% 50% no-repeat}
.btn_lg.memo i{background-image:url(/images/icon_memo.png)}
.btn_lg.note i{background-image:url(/images/icon_note.png)}
.btn_lg.check i{background-image:url(/images/icon_check.png)}

/* icon */
[class^=icon_]{display:inline-block;overflow:hidden;margin:0;padding:0;border:0;background-color:transparent;background-position:50% 50%;background-repeat:no-repeat;font-size:0;line-height:0;text-decoration:none;vertical-align:middle;text-indent:-1000em;*display:inline;*zoom:1}
.icon_square{width:3px;height:3px;margin:-2px 4px 0 0;background:#FFF;opacity:.8}
.icon_new,.icon_hot{width:21px;height:11px;margin:-2px 4px 0;background-image:url(/images/new.png)}
.icon_hot{background-image:url(/images/hot.png)}
.icon_tel{width:40px;height:40px;background-image:url(/images/icon_tel.png)}
.icon_more2{width:35px;height:35px;background-image:url(/images/icon_more2.png)}

/* heading */
body,input,textarea,select,button,table{font-size:12px;line-height:1.5;font-family:'Nanum Gothic','NanumGothic', 'Malgun Gothic','맑은 고딕','돋움',Dotum,Helvetica,'Apple SD Gothic Neo',sans-serif;color:#525252}
a{color:#525252}
a,button{transition:border-color .4s,background .4s,color .4s,opacity .4s}
.color_blue{color:#447ba8 !important}
.color_ylw{color:#f7cc00 !important}
.color_red{color:#b45050 !important}
.color_grey{color:#797979 !important}
[class*=lst_type_]>li{padding-left:14px;line-height:1.7}
[class*=lst_type_]>li:before{float:left;margin:0 4px 0 -14px}
.col2_wrp[class*=lst_type_]>li{float:left;width:50%;-webkit-box-sizing:border-box;box-sizing:border-box}
.lst_type_bull>li:before{content:'·';color:#333}
.lst_type_bull.v2>li:before{font-weight:700;color:#447ba8}
.lst_type_dash{padding-bottom:10px;color:#333}
.lst_type_dash>li:before{content:'-'}
.lst_type_square>li:before{content:'ㅁ'}
[class*=lst_type_]>li>*{line-height:1.5}
.lst_type_num li{list-style:decimal;margin-left:24px;padding-left:0}
.lst_cnt{margin-left:-14px}
.lst_rt_col li{position:relative;padding-right:25%}
.lst_rt_col li .date{position:absolute;top:0;right:0}
hr.line_blue{margin:24px 0;border:1px solid #447ba8}
.h2{margin:24px 0;font-size:24px;color:#447ba8}
.h4{margin:30px 0;font-size:18px;color:#272828}
.headline{margin-bottom:-1px;padding:30px;border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;background:#f6f8f9}
.headline.v2,.wgt_bx_hd{padding:10px 20px;border-top:2px solid #447ba8;border-bottom:1px solid #e5e5e5;background:#f6f8f9;font-size:18px;color:#447ba8}
.notice_tx{font-size:14px}
.wgt_bx{position:relative;margin:5px;padding:20px;border:1px solid #e5e5e5}
.wgt_bx_hd{margin:-21px -20px 20px}
.wgt_bx .icon_more2{position:absolute;bottom:-1px;right:-1px}
.bx{padding:20px 40px;border:1px solid #cdcdcd;border-top-color:#447ba8}
.bx_quiz{font-size:18px}
.bx_quiz label{font-weight:700}
.bx_quiz input[type=text]{width:280px;height:auto;padding:4px 8px;font-size:18px}
.no_weight{font-weight:normal !important; }
/* Toggle */
.tg_wrp{position:relative}
.tg_cnt{display:none;position:absolute;top:100%;left:0;width:100%;background:#FFF}
.tg_cnt.btm{top:auto;bottom:100%;margin-bottom:-1px}
.tg_cnt.rt{left:auto;right:0}

/* Tab */
.tab li{float:left}
.tab a{display:block;overflow:hidden;margin-right:-1px;padding:0 19px;border:1px solid #e5e5e5;font-size:18px;line-height:55px;letter-spacing:-1px;text-align:center;white-space:nowrap;text-overflow:ellipsis;color:#989898}
.tab a.last{margin-right:0}
.tab .line2{padding-top:8px !important;padding-bottom:8px !important;line-height:22px}
.tab .on,.tab a:hover,.tab a:focus{position:relative;border-color:#447ba8;color:#447ba8}
.tab .on{font-weight:700;font-size:20px}
.tab>[class^=col] a{padding:0 4px}
/* Tab Toggle */
.tab_tg>li>a{position:relative;font-weight:bold;display:block;margin:0 1px;padding:6px;background:#e5e5e5;font-size:14px;line-height:18px;white-space:nowrap;text-align:center;text-decoration:none;color:#666;-webkit-box-sizing:border-box;box-sizing:border-box}
.tab_tg>li>.on{background:#a3ce05 !important;color:#333}
.tab_tg>li>a:hover{background:#f3f3f3 !important;}
.tab_tg>li>a:hover.on{background:#a3ce05 !important}
.tab_tg>li>.on i{display:block;top:100%;left:50%;width:17px;height:9px;margin-left:-8px;position:absolute;background:url(/images/tab_tg_green.png)}
.tab_tg>li>div{display:none;position:absolute;top:34px;left:0;width:100%}
.tab_tg_horizon{height:400px}
.tab_tg_vertical>li>a{width:100px;margin:0 0 1px;padding:22px 16px 22px 16px;}
.tab_tg_vertical>li>.on i{top:0;left:100%;width:12px;height:13px;margin:0;background:url(/images/tab_tg_vertical_green.png)}
.tab_tg_vertical>li>div{display:none;position:absolute;top:00px;left:120px;right:20px;width:auto}
.tab_tg.v2>li>a{background:#f7f6f3}
.tab_content{display:none}
.tab_content.on{display:block}

/* Table */
table{width:100%}
.table-responsive{min-height:.01%;overflow-x:auto}
.table-responsive>.tb{margin-top:0}
.tb{margin:-3px 0 30px}
.tb tr:first-child{border-top:3px solid #447ba8}

.tb th,.tb td{padding:20px 20px;border:1px solid #e5e5e5;font-size:14px;line-height:1.8;-webkit-box-sizing:border-box;box-sizing:border-box}
.tb th{font-size:18px;white-space:nowrap;color:#447ba8}
.tb th small{display:block;margin-top:-4px;font-size:14px}
.tb td small{display:block;font-size:12px;color:#000}
.tb td small .red{color:#f00}
.tb td .la{display:block;text-align:center;font-weight:bold;font-size:13px}
.tb th:first-child{border-left:0}
.tb td:last-child{border-right:0}
.tb_select_full select{width:100%}
.tb.v2{margin-top:-1px}
.tb.v2 tr:first-child{border-top:1px solid #e5e5e5}
.tb_vertical th,.tb_vertical td{padding:15px;border:1px solid #e5e5e5 !important;letter-spacing:-1px}
.tb_vertical th{background:#f5f8fa;font-size:18px;white-space:nowrap !important;color:#447ba8}
.tb_vertical tr:first-child{border-top:2px solid #447ba8}
.tb_vertical.v2 th{background:none}
.tb_sm th,.tb_sm td{padding:20px 10px;line-height:1.3}
.tb .title{width:50%; text-align:left !important}}
.tb.fs18 th,.tb.fs18 td,
.fa-paperclip{font-size:18px}
.daum_map{margin-bottom:40px;border:10px solid #447ba8}
.daum_map *{display:block;width:100%}
.tb .ac{ white-space:nowrap}
.tb_rd th,.tb_rd td{padding:15px;line-height:1.3}
.tb2 th{font-size:15px;color:#447ba8}
.tb2 tbody th{font-size:14px;font-weight:bold;color:#525252}
.tb2 tr:first-child{border-top:2px solid #d4d4d4}

.tb .col1{width:120px}
@media screen and (max-width: 800px){
.tb .col1{width:70px}
.tb th small{font-size:10px;letter-spacing:-1px}
}
/* slider */
.bx-wrapper{position:relative}
.bx-controls>*{position:absolute}
.bx-pager{bottom:20px;right:20px}
.bx-controls-direction,.bx-controls-auto{top:-28px;right:35px}
.bx-controls-auto{right:0}
.bx-pager-item,.bx-controls-auto-item{display:inline-block}
.bx-pager a,.bx-controls-direction a,.bx-controls-auto a{display:block;overflow:hidden;width:13px;height:13px;margin:0 1px;background:url(/images/bxslider_pager.png);text-indent:-99em}
.bx-pager .active{background:url(/images/bxslider_pager_on.png)}
.bx-controls-direction a,.bx-controls-auto a{float:left;width:16px;height:16px;margin-left:-2px;background:url(/images/bxslider_pn.png)}
.bx-controls-direction .bx-next{background-position:100% 0}
.bx-controls-auto a{background:url(/images/play.png);opacity:.5}
.bx-controls-auto .active{opacity:.8}
.bx-controls-auto .bx-stop{background:url(/images/pause.png)}

/* accrodion */
.accordion li>div{position:relative}
.accordion .q>a{display:block;overflow:hidden;position:absolute;top:0;bottom:0;left:0;right:0;background:url(/images/accordion.png) 92% 50% no-repeat;text-indent:-999em}
.accordion .open .q>a{background-image:url(/images/accordion_open.png)}
.accordion .a{display:none}

/* Grid */
.wfull{float:none !important;width:100% !important}
.w1200{max-width:1200px;margin:0 auto;-webkit-box-sizing:border-box;box-sizing:border-box}
.w1100{max-width:1100px;margin:0 auto;-webkit-box-sizing:border-box;box-sizing:border-box}
.w600{width:100%;max-width:600px}
.w480{width:100%;max-width:480px}
.w360{width:100% !important;max-width:360px !important}
.w200{width:100%;max-width:200px}
.w140{width:100%;max-width:140px}
.w80{width:100%;min-width:0;max-width:80px !important}
.w60{min-width:0;max-width:60px}
.w40{min-width:0;max-width:40px}
.w30{min-width:0;max-width:40px}
.w20{min-width:0;max-width:20px}
[class^=col]>*{-webkit-box-sizing:border-box;box-sizing:border-box}
.col2_wrp>*{float:left;width:50%}
.col3_wrp>*{float:left;width:25%}
.col4_wrp>*{float:left;width:25%}
.col5_wrp>*{float:left;width:20%}
.col6_wrp>*{float:left;width:16.66666666%}
.col7_wrp>*{float:left;width:14.285714%}
.col8_wrp>*{float:left;width:12.5%}
.col9_wrp>*{float:left;width:33.3%}

[class^=col]>.fr{float:right}

/* Layout */
body{background:#f8f7f5}
#wrap{padding-top:113px}
#container{min-height:720px;padding:0 50px 0 350px;background:#FFF }
#side{position:absolute;top:0;left:50px;bottom:0;width:260px;background:#447ba8;text-align:center}
#ct{padding-bottom:40px}
#ft{background:#f4f4f4}

/* Side Menu */
.nav_open{overflow:hidden}
.nav_open #wrap{position:fixed}
#sidebar_tg{display:none;position:fixed;top:0;bottom:0;z-index:100;width:100%;height:auto;margin:0;border:0;background:rgba(0,0,0,.5)}
.nav_open #sidebar_tg{display:block}
.side_nav{position:fixed;top:0;bottom:0;width:310px;z-index:110;background:#FFF;-moz-transition:all .3s;-webkit-transition:all .3s;transition:all .3s}
.side_nav header{position:relative;height:44px;border-bottom:1px solid #DDD;line-height:44px}
.side_nav>nav{overflow:hidden;overflow:auto;-webkit-overflow-scrolling:touch;position:absolute;top:45px;bottom:0;width:100%}
.side_nav h1{margin:0 44px}
.side_nav header button{position:absolute;top:0;left:0;width:44px;height:44px;font-size:20px;line-height:44px;text-align:center;color:#999}
.side_nav header button.fr{left:auto;right:0}
#snb{display:none;right:0;-ms-transform:translate(310px,0);-webkit-transform:translate(310px,0);transform:translate(310px,0)}
@media screen and (max-width:320px){
.side_nav{width:270px}
#snb{right:0;-ms-transform:translate(270px,0);-webkit-transform:translate(270px,0);transform:translate(270px,0)}
}
.snb_open #snb{-webkit-transform:translate(0) !important;transform:translate(0) !important}
#snb h1{margin-left:24px;font-weight:500;font-size:18px;color:#447ba8}
#snb nav a{display:block;padding:8px 24px;border-top:1px solid #EEE;border-bottom:1px solid #EEE;background:#F6F6F6;font-size:15px;color:#333}
#snb nav i{display:none}
#snb li ul{margin:8px 0}
#snb li li a{padding:4px 24px;background:none;border:0;font-size:13px;color:#666}
#snb .on{font-weight:700;color:#333 !important}

/* Header */
#hd{overflow:hidden;position:absolute;top:0;left:0;right:0;z-index:30;height:87px;padding:15px 0 10px;border-bottom:1px solid #d1d9df;background:#FFF;transition:all .5s}
#hd.open{height:328px}
#hd:before{content:'';display:block;position:absolute;top:113px;width:100%;border-top:1px solid #d1d9df}
#hd h1,#hd h1 img{float:left}
#hd h1 img{margin-right:8px}
#hd h1 a{display:block;font-size:22px;line-height:100px;white-space:nowrap;color:#272828}
#top{float:right;margin-top:15px}
#top li{float:left;margin-left:16px;line-height:12px}
#top a{font:12px/1 '돋움',Dotum,Helvetica,'Apple SD Gothic Neo',sans-serif;color:#5a5a5a}
.font_size{width:48px;height:12px;background:url(/images/font_size.png?v=1)}
.font_size button{float:left;width:16px;height:12px;background:url(/images/font_size.png)}
.font_size .icon_font_large{float:right;background-position:100% 0}
/* gnb */
#hd>.w1200{position:static}
#gnb{float:right;margin-top:20px}
#gnb>ul>li{float:left;margin-left:17px}
#gnb>ul>li>a{padding-bottom:52px;font-weight:700;font-size:17px;line-height:1;text-decoration:none;letter-spacing:-1px;color:#272828}
#gnb .on,#gnb a:hover,#gnb a:focus{color:#447ba8}
#gnb div{margin-top:48px}
#gnb div a{display:block;margin-bottom:4px;font-size:13px;letter-spacing:-1px}
@media screen and (min-width:800px){
#gnb{display:block !important}
}

/* Side */
#side h1{margin:0 0 30px;padding:80px 20px 15px;background-color:#194c7f;background-position:30px 20px;background-repeat:no-repeat;font-size:30px;color:#FFF}
#lnb li{margin-bottom:-1px;border-top:1px solid #FFF;border-bottom:1px solid #FFF}
#lnb a{display:block;position:relative;background:#447ba8;font-size:18px;line-height:40px;color:#FFF}
#lnb i{display:none;position:absolute;top:11px;right:10%}
#lnb .on,#lnb a:hover,#lnb a:focus{background:#FFF;box-shadow:0 0 2px rgba(80,139,180,.5);color:#447ba8}
#lnb .on i{display:block}

/* Footer */
.ft_link{background:#3a3a3a}
.ft_link li{display:inline-block;margin-right:24px;line-height:50px}
.ft_link a{display:block;font-size:14px;color:#FFF}
.ft_link .to_top{float:right;margin:0;background:#000}
.ft_link .to_top a{padding:0 20px}
/* 2050127 */
.ft_btm{padding:40px 0 40px 180px;color:#333;-webkit-box-sizing:border-box;box-sizing:border-box}
.ft_btm .f_logo{position:absolute;top:35px;left:0;padding-left:53px;background:url(/images/ft_logo.png) no-repeat;font-size:16px;line-height:43px;letter-spacing:-1px}
.ft_btm strong{color:#000}
#familysite{position:absolute;top:40px;right:0}
#familysite button{display:block;width:122px;height:22px;padding:0 10px;border:1px solid #c4c4c4;background:#FFF url(/images/familysite.png) no-repeat 93% 7px;font:11px/20px '돋움',Dotum,Helvetica,'Apple SD Gothic Neo',sans-serif;text-align:left}
#familysite ul{padding:6px 10px;border:1px solid #c4c4c4}
.btn_family {display:inline-block;background: #7d7d7d;color: #fff;border-radius: 1px;padding: 3px 20px;font-size: 12px;margin:2px;vertical-align:middle;border:0;}

.web_access_mark{position: absolute;right: 210px;top: 26px;}
@media screen and (max-width:1050px){
	.web_access_mark{position: static;padding-top:10px}
	.ft_btm{padding-bottom:15fpx}
}

/* Sub */
.my #side h1{background-image:url(/images/side/my.png)}
.sub1 #side h1{background-image:url(/images/side/1.png)}
.sub2 #side h1{background-image:url(/images/side/2.png)}
.sub3 #side h1{background-image:url(/images/side/3.png)}
.sub4 #side h1{background-image:url(/images/side/4.png)}
.sub5 #side h1{background-image:url(/images/side/5.png)}
.sub6 #side h1{background-image:url(/images/side/6.png)}
.sub7 #side h1{background-image:url(/images/side/7.png)}
.sub8 #side h1{background-image:url(/images/side/8.png)}
.sub_hd{height:143px;padding:60px 0 20px;border-bottom:3px solid #447ba8;-webkit-box-sizing:border-box;box-sizing:border-box}
.sub_hd h1{float:left;font-weight:400;font-size:45px;letter-spacing:-2px;color:#272828}
.breadcrumb{float:right;margin-top:40px;letter-spacing:-1px}
.breadcrumb a{color:#797979}
.breadcrumb span{color:#797979}
.breadcrumb i{font-style:normal}
.icon_home{margin-top:-2px;width:11px;height:10px;background-image:url(/images/home.png)}
.pn{padding:30px;text-align:center}
.pn>*{display:inline-block;margin:3px;font-size:14px;line-height:1;color:#797979}
.pn strong{color:#447ba8}
.pn .arrow{padding:0 5px;background:#447ba8;color:#FFF}
.bd_hd{margin-bottom:12px}

.sns a{width:25px;height:24px;background-image:url(/images/sns.png)}
.icon.fb{background-position:0 0}
.icon.tw{margin:0 20px 0 10px;background-position:-41px 0}
.icon.google{background-position:100% 0}

.result_area{padding-bottom:10px;clear:both;margin-top:50px;text-align:right}
.result_area.t_left{text-align:left}
.result_area span{display:inline-block;padding-left:5px;font-size:13px;color:#000}
.result_area.t_left span{padding-right:5px;padding-left:0}

.list_style01{padding:20px 0}
.list_style01 li{position:relative;margin:5px 0;padding-left:90px;line-height:26px;font-size:18px;font-weight:bold;}
.list_style01 li .tit{position:absolute;left:0;width:90px;left:0;top:0;}
.list_style01 li .red{color:#f00}

@media screen and (max-width:640px){
.list_style01 li{padding-left:0;font-size:15px}
.list_style01 li .tit{position:static;display:block;}
}

/* Main */
#container.main{padding:0;background:none}
.main #ct{width:auto}
#main>*{margin-bottom:10px}
.main_visual{border:1px solid #d1d9df;border-top:0}
.main_visual img{display:block}
.main_top>*{position:relative}
.main_forms{position:absolute;left:50%;width:50%;height:100%;color:#FFF}
.main_forms a{color:#FFF}

.main_login,.main_search{position:absolute;top:0;height:50%;width:100%;padding:7.5% 8%;background:#0775c4;-webkit-box-sizing:border-box;box-sizing:border-box}
.main_login input[type=text],.main_login input[type=password]{width:34%;height:28px;margin:0;padding:0 10px;border:0;border-radius:3px;background:#FFF;font-size:14px;line-height:28px;color:#666}
.main_login button{width:65px;height:28px;margin:0 4px;background:url(/images/main_login.png);text-align:center;font-size:14px;line-height:28px;color:#FFF}
.main_login label{margin-top:4px;white-space:nowrap}
.main_login a{margin-right:8px}
.main_login p{margin-top:4%}
.main_login h2.login_tit{text-align:center}
.main_login p.login_btn{margin-top:2%;}
.main_login p.login_btn a{display:inline-block; width:32%; margin:0; padding:10px 0; background:#0b5485; text-align:center;}
.main_login p.login_btn a.member_modify{background:#000;}

.main_search{top:50%;padding-top:6%;background:#0a8840}
.main_search input{width:100%;height:50px;margin:0 0 10px;padding:0 48px 0 12px;border:9px solid #FFF;background:none;font:14px/32px '돋움',Dotum,Helvetica,'Apple SD Gothic Neo',sans-serif;color:#FFF}
.main_search input::-webkit-input-placeholder{color:#FFF}
.main_search button{position:absolute;top:1px;right:1px;margin:0;width:46px;height:48px;background-image:url(/images/main_search.png)}
.main_board{padding:0px 2px 5px 2px}
.wgt .ellipsis:before{content:'·';display:inline;margin-right:5px;font-weight:700}
.wgt_tmb{margin-bottom:5px;}
.wgt_tmb .ellipsis:before{content:'· ';font-weight:700}
.wgt_tmb .tmb{float:left;width:130px;height:96px;margin:0 20px 10px 0}
.wgt_tmb h4{margin-bottom:5px;font-size:18px;line-height:20px;color:#1b1b1b}
.wgt_tmb h4 a{color:#1b1b1b}
.icon_more{width:44px;height:11px;background-image:url(/images/more.png);}
.main_quick *{display:block}
.main_quick img{width:100%}
.main_ft>*{float:left;height:300px;padding:15px;-webkit-box-sizing:border-box;box-sizing:border-box}
.main_ft h2{margin-bottom:12px;font-size:18px;line-height:1;color:#4f4f4f}
.main_ft>.main_popup{width:33%;padding-left:0;background:#FFF}
.main_ft>.main_book{width:17%;padding-left:2%;background:#FFF}
.main_book>div{margin:0 auto}
.main_book img,.main_popup img{display:block;margin:0 auto;text-align:center}
.main_book li a,.main_popup li a{display:block;border:1px solid #d4d4d4;text-align:center}
.main_book .book_area{height:226px;display:block}
.main_book .book_area img{height:101%;width:100%}
.main_book .bx-wrapper{border-bottom:1px solid #ddd}
.main_holiday{position:relative;width:20%;background:#0073c9;color:#FFF}
.main_holiday h2{color:#FFF}
.main_holiday_srch{position:absolute;top:15px;right:10px}
.main_holiday select{min-width:0;height:18px;padding:0;border:1px solid #d0d0d0}
.icon_holiday_srch{width:35px;height:18px;background:url(/images/btn_holiday_srch.png)}
.main_holiday_hd{line-height:48px;white-space:nowrap}
.main_holiday_hd *{line-height:48px;vertical-align:top}
.main_holiday_hd button{height:auto;font-size:22px;color:#FFF}
.main_holiday_hd strong{margin:0 4px;font-weight:400;font-size:48px}
.main_holiday ul{margin:5px;text-align:center}
.main_holiday li strong{display:inline-block;width:40px;height:40px;margin:2px;background:url(/images/main/holiday.png);font-weight:700;font-size:18px;line-height:40px;color:#ea4a4a;vertical-align:top}
.main_link{width:30%;background:#e5e5e5}
.main_link .lst_type_bull{margin-top:20px}
.main_link .lst_type_bull li:before{margin-left:-10px}
.main_link .lst_type_bull a{font:11px '돋움',Dotum,Helvetica,'Apple SD Gothic Neo',sans-serif;color:#707070}

/* 도서관 소개 */
.history_wrp{position:relative;margin:40px 0;padding-left:240px}
.history_wrp h2{position:absolute;top:30px;left:0;width:200px;padding-top:80px;background:url(/images/sub1/history.png) no-repeat;font-weight:400;font-size:64px;line-height:44px;letter-spacing:-4px;text-align:right;white-space:nowrap;color:#272828}
.history_wrp small{display:block;margin-top:20px;font-size:18px;letter-spacing:0}
.history_wrp tr>*{padding:30px 10px;border-bottom:1px solid #e5e5e5;font-size:18px;letter-spacing:-1px}
.history_wrp th{font-weight:400;font-size:40px;color:#447ba8}
.history_wrp td{line-height:1.7}
.icon_cal2,.icon_time,.icon_data,.icon_door,.icon_book,.icon_list,.icon_card{width:40px;height:40px;margin-right:10px;background:url(/images/icon_cal2.png)}
.icon_time{background:url(/images/icon_time.png)}
.icon_data{background:url(/images/icon_data.png)}
.icon_door{background:url(/images/icon_door.png)}
.icon_book{background:url(/images/icon_book.png)}
.icon_list{background:url(/images/icon_list.png)}
.icon_card{background:url(/images/icon_card.png)}
.lst_gall li{padding:30px 5px 0}
.lst_gall *{display:block;margin:0 auto 10px}
.lst_gall a{display:block;padding:10px;border:1px solid #EEE;font-size:14px;text-align:center}
/* 20150211 */
.lst_gall .tmb{overflow:hidden;height:126px}
@media screen and (max-width:800px){
.lst_gall .tmb{ height:276px}	
}
@media screen and (max-width:640px){
.lst_gall .tmb{ height:216px}	
}
@media screen and (max-width:360px){
.lst_gall .tmb{ height:112px}	
}
.sub1 .tb_sm th{border-color:#e5e5e5;font-weight:400;font-size:14px;color:#525252}
.sub1 .tb_sm th:last-child{border-right:0}
.sub1 .tb_sm td:first-child{border-left:0}
.sub1 .tb_sm tr:first-child{border:0}

.history_list{}
.history_list li{position:relative;padding:40px 20px;border-bottom:1px solid #e5e5e5}
.history_list li dl{padding-left:130px}
.history_list li dl dt{position:absolute;left:20px;top:50%;line-height:40px;margin-top:-20px;color:#447ba8;font-size:40px;}
.history_list li dl dd{font-size:18px;letter-spacing:-1px;line-height:1.6em;}
.history_list li dl dd span.tit{display:inline-block;width:110px;}
.history_list li dl dd span.tit:before{content:'· ';color:#447ba8}

@media screen and (max-width: 800px){
	.history_list li{padding:20px 0}
	.history_list li dl{padding-left:60px;}
	.history_list li dl dt{left:0;font-size:14px;width:60px;text-align:center}
	.history_list li dl dd span.tit{width:70px}
	.history_list li dl dd{font-size:12px;line-height:1.3em;}
}

/* 도서관시설안내 */
.falcility_img{padding-top:50px;padding-bottom:100px}

/* 자료검색 */
.srch_frm{position:relative;margin:30px 0 10px;padding-bottom:30px;border-bottom:1px solid #EEE}
.srch_frm>*{float:left;height:50px;margin:0;padding:4px 8px;border:8px solid #447ba8;font-size:24px;line-height:26px}
.srch_frm select{width:28%;padding:0 0 0 12px;/*background:url(/images/srch_frm.png) 105% 50% no-repeat;*/ font-size:18px}
.srch_frm input{float:right;width:70%;padding-right:120px;border:8px solid #447ba8}
.srch_frm button{position:absolute;top:0;right:0;width:120px;background:#447ba8;white-space:nowrap;color:#FFF}
.srch_frm a{position:absolute;top:0;right:0;width:120px;height:20px;background:#447ba8;white-space:nowrap;color:#FFF}
.srch_frm.v2{margin:0;padding-bottom:0;border-bottom:0;white-space:nowrap}
.srch_frm.v2>*{height:30px; padding:0 8px;border:5px solid #447ba8;font-size:14px;line-height:20px}
.srch_frm.v2 select{width:auto;min-width:0;padding:0 0 0 8px;font-size:14px}
.srch_frm.v2 input{width:220px;margin-left:2px;max-width:none\9}
.srch_frm.v2 button{width:72px;padding:0}
.srch_help{margin-bottom:20px;font-size:14px;color:#797979}
.srch_frm2{position:relative;width:140px;margin:30px auto 0;padding:2px 50px 2px 2px;background:#447ba8}
.srch_frm2 input{width:100%;min-width:0;height:40px;padding:4px 20px;border:0;background:none;font-size:24px;line-height:32px;color:#FFF}
.srch_frm2 input::-webkit-input-placeholder{color:#FFF}
.srch_frm2 button{display:block;position:absolute;top:2px;right:2px;width:44px;height:44px;background:#FFF url(/images/srch_frm2.png) 50% 50%}
.srch_frm3{text-align:center}
.srch_frm3 a{position:relative;border:2px solid #447ba8;display:inline-block;text-align:center;font-size:24px;width:150px;padding-right:44px;line-height:40px;color:#fff;background:#447ba8}
.srch_frm3 a span{position:absolute;right:0;top:0;bottom:0;width:44px;background:#FFF url(/images/srch_frm2.png) 50% 50%}

.tb_link td{font-size:18px}
.tb_link .btn{margin-top:-9px}
#goLink select{min-width:324px}

.list_header ul{margin-right:138px; overflow:hidden;}
.list_header li{float:left; height:60px; padding-top:20px; box-sizing: border-box; border-top:1px solid #447ba8; border-bottom:1px solid #447ba8; background:#fff; color:#000000; font-weight:bold; text-align:center;}
.list_header li.line{height:60px; padding-top:10px;}
.list_header .w8{width:8%;}
.list_header .w10{width:10%;}
.list_header .w14{width:14%;}
.list_header .w15{width:15%;}
.list_header .w2{width:20%;}
.list_header .w25{width:25%;}
.list_header .w27{width:27%;}

/* 목록형 검색 */
.serach_list{}
.serach_list dl{margin-right:138px; overflow:hidden; border-bottom:1px solid #e6e6e6;}
.serach_list dl:nth-child(2n) {margin-right:138px; overflow:hidden; border-bottom:1px solid #e6e6e6; background:#eef3f7;}
.serach_list dt{float:left; padding:10px 5px; box-sizing: border-box;}
.serach_list dd{float:left; padding:10px 3px; box-sizing: border-box;    text-align:center;}
.serach_list dd.txt_l{text-align:left;}
.serach_list .w8{width:8%;}
.serach_list .w10{width:10%;}
.serach_list .w14{width:14%;}
.serach_list .w15{width:15%;}
.serach_list .w2{width:20%;}
.serach_list .w25{width:25%;}
.serach_list .w27{width:27%;}


@media screen and (max-width: 800px){
.list_header{display:none;}
.list_header ul{margin-right:0;}
.serach_list{border-top:2px solid #508bb3;}
.serach_list dl{margin-right:0;}
.serach_list dl:nth-child(2n) {margin-right:0;background:#eef3f7;}
.serach_list dt.l_name{float:none; width:100%; padding:10px 0 0 5px;}
.serach_list dd.l_writer{float:none; width:100%; padding:0 0 0 5px;}
.serach_list dd.refer{clear:both;}
.serach_list dd.l_item{width:auto; padding:0 10px 0 5px}

}
/* 문화행사 */
/* schedule */
.cal_hd{padding:15px 0 10px;text-align:center}
.cal_hd h3{display:inline-block;margin:0 8px;font:30px Verdana,sans-serif;letter-spacing:-1px;color:#447ba8}
.cal_hd button{display:inline-block;height:auto;margin-top:4px;padding:4px 4px 0;vertical-align:top;font-size:16px;color:#447ba8}
.cal table{width:100%}
.cal th,.cal td{width:14.28%;padding:3px;color:#000;vertical-align:top}
.cal th{padding:8px;font-size:18px}
.cal td>div{position:relative;height:64px;padding:5px 10px;border:1px solid #DDD;border-radius:10px;text-align:center}
.cal .selected>div{padding:3px;border:3px solid #447ba8}
.cal .date{display:block;margin-bottom:5px;font:20px Verdana,sans-serif;text-align:left}
.cal .selected .date{font-weight:700;color:#447ba8}
.cal .red{color:#c62424}
.cal .old>div,.cal .new>div{background:#EEE}
.cal_event{position:relative;display:inline-block}
.cal_event>div{position:absolute;top:40px;left:-25px;z-index:10;overflow:hidden;width:0;height:0;text-align:left;line-height:1.3;color:#797979}
.cal_event:hover>div, .cal_event.on div{overflow:visible;width:160px;height:auto;padding:10px;border:2px solid #447ba8;border-radius:10px;background:#FFF}
.cal_event>div>i{display:block;position:absolute;top:-10px;left:28px;width:17px;height:10px;background:url(/images/cal_event_arrow.png)}
.blue .cal_event>div{left:auto;right:-25px}
.blue .cal_event>div>i{left:auto;right:28px}
.cal_event h5{margin-bottom:5px;font-size:12px;color:#000}
.cal_event h4{margin-bottom:5px;font-size:12px;color:#000}
.cal_event li{margin-top:5px}
.cal_event li:first-child{margin:0}
.icon_holiday,.icon_culture,.icon_movie{width:28px;height:27px;background:url(/images/icon_cal.png)}
.icon_culture{background-position:-110px 50%}
.icon_movie{width:25px;background-position:100% 50%}
.cal_bg_red{background:#f0dcdc}
.cal_bg_blue{background:#dce8f0}
.cal_bg_grey{background:#EEE}
.cal_tx{font-size:14px;color:#9f9f9f}
.cal_ft{padding:20px 0}
.cal_ft span{margin-left:20px;font-size:14px;color:#797979}
.cal_lst,.zine_lst{margin-bottom:40px;border-top:1px solid #e5e5e5;font-size:14px}
.cal_lst .open .color_blue{color:#043556 !important;}
.cal_lst>li>div{position:relative;padding:28px 0 28px 60px;border-bottom:1px solid #EEE}
.cal_lst_title{position:absolute;top:28px;left:0;width:40px}
.cal_lst_label{display:block;margin-top:5px;background:#b45050;font-size:14px;line-height:16px;text-align:center;color:#FFF}
.cal_lst_label.applying{background:#6ab450}
.cal_lst_label.wating{background:#929292}
.cal_lst.v2>li>div{padding:28px 28px 28px 88px}
.v2 .cal_lst_title{left:28px}
.cal_lst .open .q{background:#f9fcfe}
.cal_lst .a{border-bottom:2px solid #447ba8}
.icon_culture_l,.icon_movie_l,.icon_list_l{width:40px;height:40px;background:url(/images/icon_cal_l.png)}
.icon_movie_l{background-position:0 100%}
.icon_holiday_l{width:40px;height:40px;background:url(/images/icon_cal2.png); background-position:0 0}
.icon_list_l{background-position:50% 50%}
.tx_q,.tx_a{display:block;width:40px;height:40px;background:#447ba8;text-align:center;font-weight:700;font-size:32px;line-height:40px;color:#FFF}
.tx_a{position:absolute;top:16px;left:28px;background:#9a9b9b}
.zine_lst>li{padding:30px 15px 30px 0;border-bottom:1px solid #EEE}
.zine_lst .tmb{float:left;padding:6px;border:1px solid #EEE;background:#FFF}
.zine_lst .cnt{margin-left:220px}
.zine_lst h4{margin-bottom:12px;font-size:24px;color:#447ba8}
.zine_lst h2{margin-bottom:12px;font-size:24px;color:#447ba8}
.zine_lst .summary{margin-top:16px}
.zine_lst.v2{margin:40px 0;border:0;background:url(/images/bookshelf.png) 0 255px no-repeat}
.zine_lst.v2>li{padding:10px;border:0;text-align:center}
.zine_lst.v2 h4{margin-top:30px;font-size:18px}
.zine_lst.v2 .tmb{display:inline-block;float:none;box-shadow:2px 2px 4px rgba(0,0,0,.2)}
/* 20150324 */
.uine_lst{min-height:752px;margin-bottom:40px;border-top:1px solid #447ba8;font-size:14px}
.uine_lst>li{padding:30px 15px 30px 0;border-bottom:1px solid #EEE}
.uine_lst>li.empty{text-align:center}
.uine_lst .tmb{float:left;padding:6px;border:1px solid #EEE;background:#FFF}
.uine_lst .cnt{margin-left:220px}
.uine_lst h3{margin-bottom:12px;font-size:24px;}
.uine_lst h3 a:link{margin-bottom:12px;font-size:24px;}
.uine_lst .summary{margin-top:16px}
.uine_lst.v2{margin:40px 0;border:0;background:url(/images/bookshelf.png) 0 255px no-repeat}
.uine_lst.v2>li{padding:10px;border:0;text-align:center}
.uine_lst.v2 h4{margin-top:30px;font-size:18px}
.uine_lst.v2 .tmb{display:inline-block;float:none;box-shadow:2px 2px 4px rgba(0,0,0,.2)}
.uine_lst.v3{margin-right:144px}
.uine_lst.v3 .cnt{margin-left:120px}
.category{position:absolute;right:50px;width:132px;padding:5px;border:1px solid #DDD;background:#F6F6F6;z-index:9999;}
.category h3{margin-bottom:5px;font-size:13px;text-align:center}
.category a{display:block;margin-top:-1px;padding:4px 8px;border:1px solid #DDD;background:#FFF;white-space:nowrap}
.category .on,.category a:hover,.category a:focus{font-weight:700;color:#447ba8}

/* 설문조사 */
.poll_bx{position:relative;margin:-2px 0;border:1px solid #447ba8}
.poll_cnt{padding:20px 20px 20px 80px;font-weight:700;font-size:18px}
.mark_q{float:left;margin-left:-60px;font-size:50px;line-height:1}
.poll_info{padding:20px;font-size:18px;line-height:29px}
.poll_lst tr>*{padding:10px 20px;border:1px solid #e5e5e5;font-size:18px}
.poll_bar_wrp{padding:10px 0 !important}
.poll_bar span{display:block;overflow:hidden;height:18px;width:0;border-radius:0 9px 9px 0;background:#447ba8;text-indent:-99em}

/* 찾아가는 도서관 */
.step_lst{font-size:18px;color:#797979}
.step_lst li{position:relative;min-height:61px;padding:10px 0 10px 81px;line-height:1.3}
[class^=icon_step]{position:absolute;left:0;top:0;width:61px;height:61px;background:url(/images/step.png)}
.icon_step2{background-position:0 -80px}
.icon_step3{background-position:0 -160px}
.icon_step4{background-position:0 -240px}
.icon_step5{background-position:0 -320px}
.icon_step6{background-position:0 -400px}
.icon_step7{background-position:0 -480px}
.icon_step8{background-position:0 -560px}
.icon_step9{background-position:0 -640px}

[class^=icon2_step]{overflow:hidden;text-indent:-9999px;position:absolute;left:0;top:0;width:61px;height:61px;background:url(/images/step2.png)}
.icon2_step2{background-position:0 -80px}
.icon2_step3{background-position:0 -160px}

/* 마이페이지 */
.my_lst{margin:0 -5px}
.my_count{font-size:50px;letter-spacing:-2px;text-align:center}
.my_status{font-size:40px;height:75px;letter-spacing:-2px;text-align:center}
.my_status2{font-size:30px;height:75px;letter-spacing:-2px}

/* 회원가입 */
.page{padding-bottom:30px;font-size:14px;color:#797979}
.page_content{margin-bottom:30px}
.agree_bx[tabindex]:focus{outline:1px solid !important}
.page h4{margin-top:20px;color:#447ba8}
.agree_bx{overflow:auto;max-height:140px;padding:20px 30px;border:1px solid #e5e5e5}
.agree_form{margin:10px 30px;font-size:14px}
.agree_form label{margin-left:50px}
#sitemap{margin:20px -10px}
#sitemap>li{padding:10px 10px 40px}
#sitemap a{display:block;margin-bottom:1px;background:#edf3f7;font-size:18px;line-height:56px;text-align:center;color:#336699}
#sitemap>li>a{margin-bottom:10px;background:#447ba8;color:#FFF}

/* IE8 */
@media \0screen{
	body{min-width:1200px}
	#container{max-width:800px;box-sizing:content-box}
	#container.main{max-width:none}
	#snb{display:none}
	.table-responsive{overflow:visible}
	.main_book img,.main_popup img{max-width:none}
}

/* Mobile */
[class*="show_w"]{display:none}
@media screen and (max-width:1200px){
	.hide_w1200{display:none !important}
	.show_w1200{display:block !important}
	/* 20150206 */
	#gnb>ul>li{margin-left:16px}
	#gnb>ul>li>a{font-size:16px}
	#gnb div{max-width:100px}
	/* //20150206 */
	#gnb div a{font-size:11px}
	#side{left:0}
	#container{padding-left:300px}
	.ft_link li{margin:0 0 0 24px}
}
@media screen and (max-width:1080px){
	/* 20150206 */
	#gnb>ul>li{margin-left:10px}
	#gnb div{max-width:84px}
	/* //20150206 */
	.main_holiday ul{margin:5px -5px}
	.main_ft h2{font-size:16px}
}

@media screen and (max-width:1024px){
	.hide_w1024{display:none !important}
	.show_w1024{display:block !important}
}

@media screen and (max-width:992px){
	/* 20150206 */
	#wrap{padding-top:83px}
	#ct{padding:34px 0 !important}
	#hd{height:72px;padding:0 20px 10px}
	#hd h1{position:absolute;top:20px;left:0}
	#hd h1 img{height:48px}
	#hd h1 a{line-height:64px;font-size:20px}
	.icon_mn{position:absolute;top:38px;right:10px;z-index:10;width:40px;height:34px;background-image:url(/images/mn.png);background-size:100% auto}
	#top li{margin-left:8px}
	#top a{font-size:11px}
	#gnb{display:none;position:absolute;top:62px;left:0;right:0;padding:8px 0;border:1px solid #d1d9df;background:#FFF}
	#gnb li{float:none;margin:0;text-align:center}
	#gnb a{display:block;padding:8px;font-weight:400}
	.icon_mn{display:block !important}
	/* end-20150206 */
	select{min-width:0}
	#container{padding:0 0 0 240px}
	#side{left:0;width:200px}
	.main_board .wgt li{display:none;margin-bottom:10px}
	.main_board .wgt .wgt_tmb,.main_board .wgt .more{display:block; margin-bottom:0}
	.main_holiday_srch{position:static}
	.main_holiday_hd,
	.main_holiday_hd *{line-height:24px}
	.main_holiday_hd strong{font-size:22px}
	.main_holiday_srch{margin-bottom:10px}
	.main_holiday li strong{width:36px;height:36px;font-size:18px;line-height:36px;background-size:cover}
	.main_holiday p{font-size:11px}
	.bx-controls-auto{display:none}
	.category{right:0}
	.main_login,.main_search{padding:5.5% 8%}
	
	#libyear_search .srch_frm{width:430px;margin:20px auto;float:none}
	#libyear_search .btn_lg{width:250px;margin-bottom:12px}
}

@media screen and (max-width:800px){
	.hide_w800{display:none !important}
	.show_w800{display:block !important}
	.m_col1_wrp>*{float:none !important;width:auto}
	.m_col2_wrp>*{float:left;width:50%}
	.m_col3_wrp>*{float:left;width:33.33333333%}
	.m_col4_wrp>*{float:left;width:25%}
	.row{padding:0 15px}

	.m_wfull{float:none !important;width:100% !important;max-width:none}
	.fs18{font-size:14px !important}
	.bx{padding:15px}
	.bx_quiz{font-size:14px}
	.bx_quiz .ml40{margin-left:0 !important}
	.bx_quiz input[type=text]{font-size:14px}

	.btn.lg{padding:4px 16px;font-size:16px}
	.btn_lg span{font-size:16px}
	select{display:block;width:100%;max-width:none !important}
	.tb input[type=text],.tb input[type=password]{width:100%}
	.tb{margin:0 0 30px}
	.tb th, .tb td,.tb.fs18 th, .tb.fs18 td{padding:2% !important;font-size:12px}
	.tb th{min-width:44px;white-space:normal;letter-spacing:-1px}
	.tb .title{min-width:120px}
	.tab a{margin-bottom:-1px}
	.tab .line2{padding-top:4px !important;padding-bottom:4px !important;line-height:16px}
	.tab_tg>li>a{font-size:11px}
	.tab_tg_vertical>li>a{width:68px;padding:24px 2px}
	.tab_tg_vertical>li>div{top:15px;left:84px}
	.h2{margin:20px 0 10px;padding:0 15px;font-size:16px;letter-spacing:-1px}
	.h4{font-size:15px}
	.headline{padding:15px;font-size:16px}
	.tab ul{margin-right:1px}
	.tab li{width:25%}
	.tab a{padding:0;font-size:14px !important;line-height:40px}
	.accordion .q>a{background-position:96% 50%;background-size:20px auto}
	/* 20150206 */
	#container{max-height:none;padding:0}
	#side{position:static;width:auto}
	#side h1{margin:0;padding:8px;background-image:none !important;font-size:20px}
	#lnb{display:none}
	.ft_link{overflow:hidden;white-space:nowrap;text-align:center}
	.ft_link li{margin:0 4px;line-height:40px}
	.ft_link a{font-size:11px;letter-spacing:-1px}
	.ft_btm{padding:10px;background:none;text-align:center;font-size:10px}
	.ft_btm h1{display:none}
	.ft_btm p{white-space:nowrap}
	.ft_m_link{margin-bottom:5px}
	.ft_m_link a{margin:0 10px;font-size:13px}
	.sub_hd{height:auto;padding:10px;border:0}
	.sub_hd h1{font-size:28px}
	.breadcrumb{display:none}
	/* main */
	.main #ct{padding:0 !important}
	#main>*{margin:0}
	/* 20150206 */
	.main_login,.main_forms,.main_search{position:static}
	.main_login,.main_search{padding:30px}
	/* //20150206 */
	.main_board{padding:15px}
	.wgt_tmb .tmb{width:84px;height:60px;margin:0 10px 10px 0}
	.wgt_tmb h4{font-size:13px;line-height:1.3;color:#1b1b1b}
	.wgt_tmb .summary{overflow:hidden;clear:both;height:48px;font-size:11px;line-height:16px}
	.main_ft{background:#FFF}
	.main_ft>*{float:none;width:auto !important;height:auto;padding:15px}
	.main_popup,.main_book{padding-left:15px !important}
	.main_book,.main_holiday{float:left;width:50% !important}
	.main_link{clear:both}
	.main_book{border-top:1px solid #d4d4d4}
	.main_book li,.main_popup li{text-align:center}


	#libyear_search .srch_frm{width:300px;}


	/* 도서관소개 */
	.fs30{font-size:24px !important}
	.sub1 .pr40{padding-right:0 !important}
	.history_wrp{margin:20px 0;padding-left:0}
	.history_wrp h2{position:static;width:auto;padding:20px 20px 30px;border-bottom:1px solid #e5e5e5;background-position:15px 0;background-size:80px auto;font-size:32px;line-height:1;letter-spacing:-1px;text-align:left}
	.history_wrp small{float:right;margin:0;font-size:16px}
	.history_wrp tr>*{padding:10px;font-size:12px}
	.history_wrp th{font-size:14px}
	.icon_cal2,.icon_time,.icon_data,.icon_door,.icon_book,.icon_list,.icon_card{width:20px;height:20px;background-size:cover}
	.lst_gall li{padding:5px}



	/* 자료검색 */
	.srch_frm{margin:0;padding-bottom:20px;border-bottom:0}
	.srch_frm>*{height:40px;margin:0;padding:4px;border:4px solid #447ba8;font-size:13px;line-height:24px}
	.srch_frm select{width:28%;padding:4px;font-size:13px}
	.srch_frm input{width:70%;padding-right:60px;border:4px solid #447ba8}
	.srch_frm button{width:60px;font-size:13px;letter-spacing:-1px;color:#FFF}
	.srch_frm a{width:60px;font-size:13px;letter-spacing:-1px;color:#FFF}
	.srch_frm.v2 input{width:170px}
	.tb_link img{max-width:80px}
	.tb_link a{font-size:14px}
	#goLink select{min-width:0}

	/* 문화행사 */
	.cal_hd{padding:0 0 10px}
	.cal th,.cal td{;padding:1px}
	.cal th{padding:4px;font-size:12px;white-space:nowrap;letter-spacing:-1px}
	.cal td>div{height:68px;padding:4px 6px}
	.cal .selected>div{padding:2px;border:2px solid #447ba8}
	.cal .date{margin:0;font-size:14px}
	.cal_event>div{position:absolute;top:40px;left:-25px;z-index:10;overflow:hidden;width:0;height:0;text-align:left;line-height:1.3;color:#797979}
	.cal_event:hover>div{overflow:visible;width:160px;height:auto;padding:10px;border:2px solid #447ba8;border-radius:10px;background:#FFF}
	.cal_event>div>i{display:block;position:absolute;top:-10px;left:28px;width:17px;height:10px;background:url(/images/cal_event_arrow.png)}
	.blue .cal_event>div{left:auto;right:-25px}
	.blue .cal_event>div>i{left:auto;right:28px}
	.cal_event h5{margin-bottom:5px;font-size:12px;color:#000}
	.cal_event li{margin-top:5px}
	.cal_event li:first-child{margin:0}
	.cal_ft{text-align:center}
	.cal_ft span{margin:0 5px;font-size:12px}
	.cal_lst{margin-bottom:0}
	.cal_lst>li>div{padding:15px 15px 15px 65px !important;font-size:13px;letter-spacing:-1px}
	.cal_lst>li .a{padding:15px !important}
	.cal_lst_title{top:15px !important;left:15px !important;width:40px}
	.cal_lst_label{display:block;margin-top:5px;background:#b45050;font-size:14px;line-height:16px;text-align:center;color:#FFF}
	.icon_culture_l,.icon_movie_l{width:40px;height:40px;background:url(/images/icon_cal_l.png)}
	.icon_movie_l{background-position:0 100%}
	.icon_holiday_l{width:40px;height:40px;background:url(/images/icon_cal2.png); background-position:0 0}
	.zine_lst>li{padding:15px}
	.zine_lst .tmb{width:25%;padding:0;border:0}
	.zine_lst .cnt{margin-left:30%}
	.zine_lst h4{font-size:16px}
	.zine_lst h2{font-size:16px}
	.zine_lst.v2{background:none}
	.zine_lst.v2 .tmb{width:90%}
	.zine_lst.v2 h4{font-size:14px;white-space:nowrap;overflow: hidden;text-overflow: ellipsis;}
	.uine_lst>li{padding:15px}
	.uine_lst .tmb{width:25%;padding:0;border:0}
	.uine_lst h3{margin-bottom:0px;}
	.uine_lst h3 a:link{display:inline-block;margin-bottom:0px;font-size:18px;line-height:20px;}
	.uine_lst .cnt{margin-left:30%}
	.uine_lst h4{font-size:16px}
	.uine_lst h4 a:link{margin-bottom:12px;font-size:24px;color:#447ba8}
	.uine_lst.v2{background:none}
	.uine_lst.v2 .tmb{width:90%}
	.uine_lst.v2 h4{font-size:14px;white-space:nowrap}
	.uine_lst.v3{margin-right:0}
	.category{position:static;width:auto;padding:0 0 20px;border:0;background:none}
	.category h3{display:none}
	.category li{float:left;width:20%;text-align:center}
	.category a{overflow:hidden;text-overflow:ellipsis;margin:-1px 0 0 -1px;padding:8px;letter-spacing:-1px}
	.poll_cnt{padding:10px 10px 10px 40px;font-weight:400;font-size:14px}
	.mark_q{margin-left:-30px;font-size:24px}
	.poll_lst tr>*{padding:10px;font-size:14px}

	/* 찾아가는 서비스 */
	.step_lst{font-size:13px}
	.step_lst li{position:relative;min-height:31px;padding:18px 0 2px 61px;line-height:1.3}
	[class^=icon_step]{transform:scale(.5)}

	/* 마이페이지 */
	.my_lst{margin:0}
	.my_count{font-size:32px;letter-spacing:0}

	/* 회원가입 */
	.page{font-size:13px}
	.agree_bx{padding:15px}
	.agree_form{margin:10px;font-size:13px}
	.agree_form>*{float:none}
	.agree_form label{margin:0 20px 0 0}
}

@media screen and (max-width:480px){
	.main_login input[type=text],.main_login input[type=password]{ width:100%;margin-bottom:10px}
	.category li{width:25%}
	#hd.open{height:72px;}

	.zine_lst .tmb{width:90%;float:none;max-width:100%;display:block;margin:10px auto}
	.zine_lst .cnt{margin-left:0}

	.col9_wrp.zine_lst >* {float: left;width: 100%;}
}

.tab_tg_horizon li .on i{top:34px; z-index:999;}
.main_link .lst_type_bull{margin:0 1px; padding:15px 0; background:#fff; border:4px solid #a3ce05;}
.tab_tg_horizon li div{top:30px; }

@media screen and (max-width:800px){
	.main_board ul{min-height:230px}
	.main_holiday{min-height:291px}
	.main_book{border-bottom:1px solid #eee}
	.main_popup{clear:both}
}


/* board-view-top */
.board-view-top{font-size:0.93333em;border-top:2px solid #447ba8}
.board-view-top .col {border-bottom:1px solid #e5e5e5;}
.board-view-top .col .tit{width:10%;border-right:1px solid #e5e5e5;position:absolute;top:0;bottom:0;left:0;display:block;background:#fff;color:#447ba8;text-align:center;font-weight:bold}
.board-view-top .col .tit span{display:block;position:absolute;left:0;right:0;top:50%;line-height:1em;margin-top:-0.5em;color:#000}
.board-view-top .col .con{padding-left:12%;padding-right:2em;display:block;padding-top:1em;padding-bottom:1em}
.board-view-top .row-col-2 > .col .tit{border-left:1px solid #e5e5e5}

.row-col-1{*zoom:1}
.row-col-1:after{content:'';display:block;clear:both}
.row-col-1 .col{position:relative;}
.row-col-2{*zoom:1}
.row-col-2:after{content:'';display:block;clear:both}
.row-col-2 .col{position:relative;float:left;width:50%}
.row-col-2 > .col:first-child .tit{border-left:0}

.board-view-content{border-bottom:1px solid #e5e5e5}
.editor_content{min-height:200px;padding:3em}
.editor_content img{max-width:100%}
.board-view-bottom.right{text-align:right;}
.board-view-bottom.left{text-align:left;}
.board-view-bottom.center{text-align:center;}



/* 190117 추가 */
.year-list-area ul li{margin-bottom:10px}
.year-list-area .box{background:#447ba8;padding-left:10em;position:relative;border:2px solid #447ba8;}
.year-list-area .box .box-month{position:absolute;text-align:center;color:#fff;width:10em;left:0;top:50%;margin-top:-1em;line-height:2em;text-align:center;}
.year-list-area .box .box-month span{font-size:30px;}
.year-list-area .box .box-cont{background:#fff;}
.year-list-area .box .box-cont .box-tit{padding:10px 20px;font-size:20px;color:#194c7f;font-weight:bold;}
.year-list-area .box .box-cont .box-txt{border-top:1px solid #194c7f;padding:10px 20px;font-size:15px}
@media screen and (max-width:800px){
	.year-list-area{zoom:0.9;padding:10px}
}

.challenge-area{height:860px;background:url(../images/challenge/bg-challenge.png) center no-repeat;background-size:100% 100%;border-left:2px solid #494a5c;border-right:2px solid #494a5c}
.challenge-area h3{padding:85px 0 35px 0;text-align:center;}
.challenge-area .list-area{padding:0 30px;height:588px;}
.challenge-area .list-area:after{content:'';display:block;clear:both;}
.challenge-area .list-area .list-poster{display:none}
.challenge-area .list-area .list-stamp{}
.list-stamp .stamp{height:588px;overflow-y:auto}
.list-stamp .stamp ul{overflow:hidden;}
.list-stamp .stamp ul:after{content:'';display:block;clear:both;}
.list-stamp .stamp li{float:left;width:50%;padding-bottom:20px}
.list-stamp .stamp li .img{margin:0 auto;width:350px;height:420px;overflow:hidden;border:1px solid #cbcbcb;background:#e8e8e8;text-align:center;}
.list-stamp .stamp li .img img{height:420px;}
.list-stamp .stamp li .name{text-align:center;padding:5px 0;font-size:20px}
@media screen and (max-width: 1100px){
	.challenge-area h3 img{max-width:80%}
	.list-stamp .stamp li .img{width:225px;height:270px}
	.list-stamp .stamp li .img img{height:270px}
}
@media screen and (max-width: 620px){
	.challenge-area h3 img{max-width:60%}
	.list-stamp .stamp li{float:none;width:auto}
	.list-stamp .stamp{height:638px}
	.challenge-area .list-area{height:638px}
}


.zoomImg{box-shadow: 5px 5px 10px #b3b3b3;position:fixed;margin-left:-99999px;top:50%;left:50%;width:350px;background:#fff;border:5px solid #447ba8;overflow:hidden;}
.zoomImg img{max-width:100%;vertical-align: middle;}
.zoomImg.on{margin-left:150px;}
.zoomImg .zoom_close{display:block;position:absolute;right:0;top:0;width:45px;line-height:30px;text-align:center;background:#447ba8}
.zoomImg .zoom_close span{font-size:11px;color:#fff}


/* signupButton */
.signupButton span{display:inline-block;}
.signupButton a{vertical-align:top;}
.signupButton span a{vertical-align:top;display:block;}